h1 {
    color: white;
    text-align: center;
    background-color: #ff3333;
    padding: 1.6rem;
}
.card {
    box-shadow: 10px 10px 5px rgb(173, 170, 170) ;
    height: 20rem;
}
.card-body {
    background-color: #0080ff;
    color: white;
   
}
ul li {
    font-size: 12px;
}
